<div id="main-container">

  <div id="message">
    Ready to constrvct your garment?  Choose a cut and upload or choose an image.
  </div>
  
  <%= form_for Texture.new, :remote => true, :id => 'texture-upload' do |f| %>
    <%= f.file_field :image %>
    <%= f.submit 'Upload image' %>
  <% end %>
  
  <div id="uploaded-preview">
    
  </div>

  <div id="render-container">
  
  </div>

  <%= form_for Design.new, :remote => true, :id => 'design-save' do |f| %>
    <%= f.hidden_field :texture_id, :id => 'design-texture' %>
    <%= f.hidden_field :form_id, :id => 'design-form' %>
    <%= f.hidden_field :image_data, :id => 'design-preview' %>
    <%= f.submit 'Save this design!', :id => 'save-button', :style => 'display:none' %>
  <% end %>

  <div id="style-picker">
    <% Form.all.each do |style| %>
      <div class="style">
        <%= image_tag style.thumbnail, :'data-mesh-file' => style.mesh, :'data-form-id' => style.id %>
      </div>
    <% end %>
  </div>
  <div id="texture-picker">
  <% @textures.each do |texture| %>
      <%= image_tag texture.image.square, :'data-texture-id' => texture.id, :width => 100, :class=>"texture-option" %>
  <% end %>
  </div>
  
  <div id="recent-designs">
  <% @designs.each do |design| %>
    <div class="recent-design-group">
      <%= image_tag design.preview, :width => 100, :class =>'recent-design', :'data-mesh-file' => design.form.mesh, :'data-form-id' => design.form.id, :'data-texture-file' => design.texture.image.square, :'data-texture-id' => design.texture.id  %>
      <%= design.user.username %>
    </div>  
  <% end %>
  </div>

  <%= content_for :scripts do %>
    <%= javascript_include_tag 'Three/Three', 'Three/OBJLoader', 'Three/Detector', 'Three/Stats' %>
    <script type="text/javascript">
      var selected_style_mesh;
      
      function adopt_image(image, texture_id) {
        refresh(selected_style_mesh, image);
        $('#design-texture').val(texture_id);
        show_save_button();
      }
      
      function show_save_button() {
        $('#save-button').show();
      }
    
      function selected_style_mesh() {
        $('.style.selected img').data('mesh-file');
      }
    
      $(function() {
        $('.style img').click(function() {
          $('.style .selected').removeClass('selected');
          $(this).addClass('selected');
          $('#design-form').val($(this).data('form-id'));
          selected_style_mesh = $(this).data('mesh-file');
        });
        
        $('.texture-option').live('click', function() {
          adopt_image(this.src , $(this).data('texture-id') );
        });
        
        $('.recent-design').live('click', function() {
          $('.recent-designs .recent-design-group .selected').removeClass('selected');
          $(this).addClass('selected');
          
          $('#design-form').val($(this).data('form-id'));
          selected_style_mesh = $(this).data('mesh-file');
          adopt_image($(this).data('texture-file') , $(this).data('texture-id') );
        })
        
        $('#save-button').click(function() {
          $('#design-preview').val($('#GL')[0].toDataURL("image/png"));
        });
        
        $('.style img').first().click();
        init3DBuild(selected_style_mesh, $($('.texture-option')[0]).attr('src') );
      });
    </script>
  <% end %>
</div>