<h1>Listing designs</h1>

<table>
  <tr>
    <th>Form</th>
    <th>Texture</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @designs.each do |design| %>
  <tr>
    <td><%= image_tag design.preview %></td>
    <td><%= design.form.mesh %></td>
    <td><%= design.texture.image %></td>
    <td><%= design.user.username %></td>
    <td><%= link_to 'Show', design %></td>
    <td><%= link_to 'Edit', edit_design_path(design) %></td>
    <td><%= link_to 'Destroy', design, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Design', root_path %>
