<h1>Recent Constrvcts</h1>

<table>
  <tr>
    <th>Form</th>
    <th>Texture</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @designs.each do |design| %>
  <tr>
    <td><%= image_tag design.preview %></td>
    <td><%= image_tag design.form.thumbnail, :width => 200 %></td>
    <td><%= image_tag design.texture.image, :width => 200 %></td>
    <td><%= link_to design.user.username, design.user %></td>
    <td><%= link_to 'Show', design %></td>
    <% if current_admin %>
      <td><%= link_to 'Edit', edit_design_path(design) %></td>
      <td><%= link_to 'Destroy', design, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Constrvct', root_path %>
