<%= content_for :scripts do %>
  <script type="text/javascript" src='/assets/Three/Three.js'> </script>
  <script type="text/javascript" src="/assets/Three/OBJLoader.js"> </script>
  <script type="text/javascript" src="/assets/Three/Detector.js" > </script>
  <script type="text/javascript" src="/assets/Three/Stats.js" > </script>
  
  <script type="text/javascript">
    var front_mesh, back_mesh;
    var style_id, texture_id;
    var texture_file;
    
    function changeTexture(img){
    	console.log(img);
    	canvastexture = false;
    	texture = THREE.ImageUtils.loadTexture(img);

    	for (var a=0; a <holder.children.length; a++) {
    		for(var i = 0, l = holder.children[a].children.length; i < l; i++) {

    			holder.children[a].children[i].material.map = texture;
    			holder.children[a].children[i].doubleSided = true;
    		}
    	}
    }
    
    function changeModel(obj1, obj2) {
    	scene.remove(holder);
    	holder = new THREE.Object3D();

    	loadthis(obj1);
    	loadthis(obj2);
    	scene.add(holder);
    }
    
    function update_texture(file) {
      changeTexture(file);
      $('#design-texture').val(texture_id);
      show_save_button();
    }
    function update_style() {
      changeModel(front_mesh, back_mesh);
      $('#design-form').val(style_id);
      show_save_button();
    }
    
    function show_save_button() {
      $('#save-button').show();
      $('#design-title').show();
    }
  
    $(function() {
      $("#texture_image").on('change', function() {
        if ($("#texture_image").val() != "") {
          $('#new_texture span').html($("#texture_image").val());
          console.log('uploading texture');
          $('#new_texture').submit();
        } else {
          $('#new_texture span').html('Use your own photo or image');
        }
      })
      
      $("#upload-button").click(function(){
        console.log('upload clicked');
        $("#texture_image").click();
      })
      
      $('.style img').click(function() {
        $('.style .selected').removeClass('selected');
        $(this).addClass('selected');
        
        style_id = $(this).data('form-id');
        front_mesh = $(this).data('mesh-front');
        back_mesh = $(this).data('mesh-back');
        
        update_style();
      });
      
      $('.texture-option').live('click', function() {
        $('.selected-texture').removeClass('selected-texture');
        $(this).addClass('selected-texture');
        texture_file = $(this).data('img');
        
        texture_id=$(this).data('texture-id');
        update_texture(texture_file);
      });
      
      $('.recent-design').live('click', function() {
        $('.selected-design').removeClass('selected-design');
        $(this).parent().addClass('selected-design');
        front_mesh = $(this).data('mesh-front');
        back_mesh = $(this).data('mesh-back');
        texture_file = $(this).data('texture-file');
        
        if ($(this).data('form-id') != $('#design-form').val()) {
          style_id = $(this).data('form-id');
          update_texture(texture_file);
          update_style();
        } else {
          update_texture(texture_file );
        }
      });
      
      $('#save-button').click(function() {
    
        var designrender = $('#GL')[0].toDataURL("image/png");
        $('#design-preview').val(designrender);
        var designdiv = document.createElement('div');
        designdiv.setAttribute('class', 'recent-design-group');
        var newdesign = document.createElement("img");  
        newdesign.src = designrender;
        newdesign.setAttribute('class','recent-design');
        newdesign.setAttribute('data-texture-id', texture_id);
        newdesign.setAttribute('data-texture-file', texture_file);
        newdesign.setAttribute('data-mesh-front', front_mesh);
        newdesign.setAttribute('data-mesh-back', back_mesh);
        newdesign.setAttribute('data-form-id', style_id);
        designdiv.appendChild(newdesign);
        $("#my-closet").prepend(designdiv);
        
        $("#new_design").submit();
      });
      
      $('#upload-image-button').click(function(){
        console.log('uploading texture');
        $('#new_texture').submit();
      });
      
      $('.style img').first().addClass('selected');
      front_mesh = $('.style .selected').data('mesh-front');
      back_mesh = $('.style .selected').data('mesh-back');

      style_id = $('.style .selected').data('form-id');
      
      texture_file = $($('.texture-option')[0]).data('img');
      texture_id = $($('.texture-option')[0]).data('texture-id');
      
      init3DBuild(front_mesh, back_mesh, texture_file);
      console.log("init");
      loadthis(front_mesh);
      loadthis(back_mesh);
      $('#design-form').val(style_id);
      changeTexture(texture_file);
      
      
    });
    
    function putDrawing() {
      var canvas = document.getElementById('drawing');
      loadCanvas(canvas); 
    }
   
  </script>
<% end %>

  <div id="main-design">
    <div id="style-picker">
      <% Form.all.each do |style| %>
        <div class="style">
          <%= image_tag style.image.url(:thumb), :'data-mesh-front' => style.front_mesh.url, :'data-mesh-back' => style.back_mesh.url, :'data-form-id' => style.id %>
        </div>
      <% end %>
    </div>
    
    <div id="render-container">
    </div>
    
    <%= form_for Design.new, :remote => true, :id => 'design-save' do |f| %>
      <%= f.hidden_field :texture_id, :id => 'design-texture' %>
      <%= f.hidden_field :form_id, :id => 'design-form' %>
      <%= f.hidden_field :image_data, :id => 'design-preview' %>
      <!--
      <%= f.submit 'Save this design!', :id => 'save-button', :style => 'display:none' %>
      -->
      <a class="button" id="save-button" style="display:none;"> SAVE YOUR LOOK </a>
      <div id="design-title" style="display:none;">
      <%= f.text_field :title, :placeholder => 'Title Your Look' %>
      </div>
    <% end %>
  </div>
  
  <div id="artwork">
    <h3>Add Artwork</h3>
    
    <%= form_for Texture.new, :remote => true, :id => 'texture-upload' do |f| %>
        <a class="button" id="upload-button"> Upload </a>
        <span>Use your own photo or image</span>
        <%= f.file_field :image, :style => 'display:none' %>
        <br />
        <a class="button" id="upload-image-button" style="display:none;"> Upload Image </a>
        <!--
        <%= f.submit 'Upload image', :id => 'upload-image-button', :style => 'display:none' %>
        -->
      <% end %>
      
    
    <div id="available-artwork">
      <div id="texture-picker">
      <% @textures.each do |texture| %>
          <%= image_tag texture.image.url(:thumb), :'data-texture-id' => texture.id, :'data-img' => texture.image.url(:v512), :class=>"texture-option" %>
      <% end %>
      </div>
    </div>
  </div>
<!--
  <div id="available-designs">
    <h3>Newest Constrvcts</h3>
  <div id="recent-designs">
  <% @designs.each do |design| %>
    <div class="recent-design-group">
     <%= image_tag design.preview.url(:thumb), :width => 100, :class =>'recent-design', :'data-mesh-front' => design.form.front_mesh.url, :'data-mesh-back' => design.form.back_mesh.url, :'data-form-id' => design.form.id, :'data-texture-file' => design.texture.image.url(:v512), :'data-texture-id' => design.texture.id  %>
      <span>by <%= link_to design.user.username, design.user %></span>
    </div>  
  <% end %>
  </div>
  </div>
--> 
  
<script type="text/javascript" src='/assets/processingjs/processing-1.3.6.min.js'/>
<script type="application/processing" >
</script>
<canvas id="drawing" data-processing-sources="/assets/ptest.pde" style="display:none;" ></canvas>

<script>
function stopDrawing() {
  var processing = Processing.getInstanceById('drawing');
  processing.noLoop();
}
function startDrawing() {
  var processing = Processing.getInstanceById('drawing');
  processing.loop();
}

</script>
