<p id="notice"><%= notice %></p>

<div class="grid">
<div id="render-container">
  
</div>

<div class="design-info">
  <h3 class="design-title"><%= @design.title %></h3>
  <h4><span class="grey">constrvcted by </span><%= link_to @design.user.username, user_path(@design.user) %></h4>
  <p>
   <%= @design.description %> 
  </p>  
  <p>
    <%= image_tag @design.texture.image.(:thumb), :width => 100 %>
    <%= image_tag @design.form.image.url(:thumb), :width => 100 %>
  </p>
  <h4><span class="grey">artwork by </span> <%= link_to @design.texture.user.username, user_path(@design.texture.user) %></h4>
  <h4><span class="grey">style: </span> <%= @design.form.name %></h4>
</div>

<% if current_admin %>  
<%= link_to 'Edit', edit_design_path(@design) %> |
<%= link_to 'Back', designs_path %>
<% end %>
</div>
<div class="grid">
  <div class="width50">
  <h3 class="underline">also by <%= link_to @design.user.username, user_path(@design.user) %></h3>
  <% @design.user.designs.each do |userdesign| %>
    <% if userdesign.id != @design.id %>
      <div class='recent-design-group outline'>
          <%= link_to userdesign do %>
            <%= image_tag userdesign.preview.url(:thumb) %>
          <% end %>
      </div>
    <% end %>
  <% end %>
  </div>
</div>

<%= content_for :scripts do %>
  <script type="text/javascript" src="/assets/Three/Three.js" />
  <script type="text/javascript" src="/assets/Three/OBJLoader.js" />
  <script type="text/javascript" src="/assets/Three/Detector.js" />
  <script type="text/javascript" src="/assets/Three/Stats.js" />
  
  <script type="text/javascript">
    $(function() {
      init3DBuild('<%= @design.form.front_mesh.url %>','<%= @design.form.back_mesh.url %>', '<%= @design.texture.image.square %>');
    });
  </script>
<% end %>