<h1>All textures</h1>

<table>


<% @textures.each do |texture| %>
  <tr>
    <td><%= link_to texture.name, texture %></td>
    <td><%= image_tag texture.image.thumbnail %></td>
    <td><%= link_to texture.user.username, texture.user %></td>
    <td><%= link_to 'Edit', edit_texture_path(texture) %></td>
    <td><%= link_to 'Destroy', texture, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Texture', new_texture_path %>
