<h2>
  <%= @user.username %>
</h2>

<% if current_admin %>
<p>
  <%= @user.email %>
</p>
<% end %>

  <h2>My Constrvcts</h2>
  <% @user.designs.each do |design| %>
    <div>
      <%= image_tag design.preview, :width => 200 %>
      <!--
      <%= image_tag design.texture.image, :width => 200 %>
      <%= image_tag design.form.thumbnail, :width => 200 %>
      -->
    </div>
  <% end %>
