<div id="signup-block">
<div class="login-box" >
<h2 class="underline">Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :username %><br />
  <%= f.text_field :username %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><a class="button" id="sign-up">Sign Up</a></div>
<% end %>
  <p><a id="show-login"> Already a member? Login</a></p>
</div>

  <div class="welcome">
  Unlock your personal fashion studio. Create clothing designs, share with friends, and get  your creations made to order in the finest quality.
  <img src="/assets/formula.png" />
  </div>
</div>

<div id="login-block" style="display:none;">
  <div class="login-box" >
  <h2 class="underline">Sign in</h2>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name) , :class =>'login-form') do |f| %>
    <div><%= f.label :email %><br />
    <%= f.email_field :email %></div>

    <div><%= f.label :password %><br />
    <%= f.password_field :password %></div>

    <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>

    <div><a class="button" id="sign-in">Login</a></div>
  <% end %>

    <p><%= render "devise/shared/links" %></p>
    <p><a id="show-signup"> Not yet a member? Sign Up</a></p>
  </div>
</div>

<script>
$('#sign-up').click(function() {
  $('#new_user').submit();
})

$('#sign-in').click(function() {
  $(this).parent().parent().submit();
})

$('#show-login').click(function() {
  $('#signup-block').hide();
  $('#login-block').show();
})
$('#show-signup').click(function() {
  $('#login-block').hide();
  $('#signup-block').show();
})

</script>