<%= form_for @form, :html => { :multipart => true } do |f| %>
  <% if @form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@form.errors.count, "error") %> prohibited this form from being saved:</h2>

      <ul>
      <% @form.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :front_mesh %><br />
    <%= f.file_field :front_mesh %>
  </div>
  <div class="field">
    <%= f.label :back_mesh %><br />
    <%= f.file_field :back_mesh %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
